extends ../layout

block content

  h1 Employees
  if logged_in
    p you have access to employees now
  if employees
    table.table.table-pattern
     thead
       tr
         th Employees id
         th Employee Name
         th TEAMS
         th
     tbody
       for person in people
         tr
           td [edit employee link]
           td= person.name
           td= person.teams
           td [delete employee link]


   div
   a(href='/employees/new') Add a new employee
